@mixin bg-image($url){
  background-image: $url;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin size($width, $length) {
  width: $width;
  height: $length;
}

@mixin justify-content-center {
  display: flex;
  justify-content: center;
}

@mixin align-items-center {
  display: flex;
  align-items: center;
}

@mixin position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

.hide {
  opacity: 0;
  transition: 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

[class*="test-block"] {
  width: 100px;
  height: 100px;
}
.test-block-red {
  background-color: red;
}
.test-block-blue {
  background-color: blue;
}
.test-block-green {
  background-color: green;
}

.test-block-purple {
  background-color: purple;
}


.content-section {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-list {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #F9FCFF;
}

.progress-list-deploy {
  position: absolute;
  top: 0;
  left: 0;
  width: 647px;

  .deploy-item {
    @include align-items-center;
    @include justify-content-center;
    @include size(51px, 51px);
  }
}

.receipt-container {
  .nodejs-container {
    margin-top: 295px;
    margin-right: auto;
    margin-left: 165px;
    width: 311px;
    display: flex;
    justify-content: space-between;

    div:nth-child(3) {
      margin-right: 80px;
    }
  }

  .line {
    z-index: -10;
    &.java-line {
      @include position(46px, 50px);
      height: 189px;
    }
    &.python-line {
      @include position(54px, 340px);
      width: 240px;
    }
    &.php-line {
      @include position(116px, 262px);
    }
    &.extend-nodejs-line {
      @include position(2px, 338px);
      width: 213px
    }
    &.node-line {
      @include position(92px, 130px);
    }
  }


  .extend-nodejs {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 130px;
    display: flex;
    align-items: center;
  }

  .backend-container {
    position: absolute;
    top: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    .java {
      @include position(-8px, 105px)
    }
    .python {
      @include position(25px, 480px)
    }
    .php {
      @include position(90px, 295px)
    }
  }
}

.connection-container {
  .line {
    z-index: -10;
    &.postre-sql-line {
      @include position(3px, 0);
      width: 291px;
      height: 161px;
    }
    &.redis-line {
      @include position(114px, 22px);
      width: 221px;
      height: 211px;
    }
    &.maria-line {
      @include position(114px, 22px);
    }
    &.php-line {
      @include position(162px, 195px);
      width: 257px;
      height: 238px;
    }
    &.left-node-line {
      @include position(396px, 75px);
    }
    &.right-node-line {
      @include position(396px, 297px);
    }
  }

  .mariadb {
    @include position(259px, 590px);
  }
  .postre-sql {
    @include position(484px, 427px);
  }

  .java-container {
    .postre-sql {
      @include position(81px, 27px)
    }
    .redis {
      @include position(232px, 27px)
    }
  }

  .php-container {
    .mysql {
      @include position(338px, 226px)
    }
    .redis {
      @include position(338px, 367px)
    }
  }

  .node-container {
    .redis {
      @include position(597px, 301px)
    }
    .postre-sql {
      @include position(597px, 209px);
    }
  }
}

.binding-container {
  .line {
    z-index: -10;
    &.sql-redis-line {
      @include position(298px, 258px);
    }
    &.postre-redis-line {
      @include position(98px, 67px);
    }
    &.python-maria-line {
      @include position(208px, 534px);
    }
    &.node-container-line {
      @include position(501px, 168px);
    }
  }
}

.docker-logo {
  margin-left: auto;
  margin-right: auto;
  width: 189px;
  height: 189px;
}
